*.DS_Store
.ipynb_checkpoints/
*.png
*.py~
*.pyc
*~

.DS_Store
.ipynb_checkpoints
node_modules
/tensorflow/.bazelrc
/tensorflow/.tf_configure.bazelrc
/tensorflow/bazel-*
/tensorflow/bazel_pip
/tensorflow/tools/python_bin_path.sh
/tensorflow/tensorflow/tools/git/gen
/tensorflow/pip_test
/tensorflow/_python_build
*.pyc
__pycache__
*.swp
.vscode/
cmake_build/
tensorflow/contrib/cmake/_build/
.idea/**
/tensorflow/build/
[Bb]uild/
/tensorflow/tensorflow/core/util/version_info.cc
/tensorflow/tensorflow/python/framework/fast_tensor_util.cpp
Pods
Podfile.lock
*.pbxproj
*.xcworkspacedata
/tensorflow/tensorflow/lite/tools/make/downloads/**
/tensorflow/tensorflow/lite/gen/**
/tensorflow/tensorflow/lite/examples/ios/simple/data/*.txt
/tensorflow/tensorflow/lite/examples/ios/simple/data/*.tflite
xcuserdata/**
/api_init_files_list.txt
/estimator_api_init_files_list.txt
*.whl

# Android
.gradle
.idea
*.iml
local.properties
gradleBuild
*.pb
*.tar.gz
